.nav-bar {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 250px;
  background-color: #292929;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  color: white;
}

.links-navbar {
  margin-right: 5px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-heading-color);
  text-decoration: none;
}

.links-navbar:hover {
  cursor: pointer;
  color: red;
}

.logo-container {
  display: flex;
}

.logo-img {
  width: 20%;
}
