.renter-text {
  margin-right: 5px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-heading-color);
  text-decoration: none;
}

.link-register {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-heading-color);
  margin-right: 5px;
  text-decoration: none;
}

.link-register:hover {
  cursor: pointer;
  color: red;
}
